.container {
    display: grid;
    grid-template-rows: 490px 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.container a:hover {
    outline: 5px solid #FA8400;
    
}