@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27');

.jogo {
    text-align: center;
}

.imagem {
    max-width: 1240px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.jogo h1 {
    font-size: 40px;
    margin-bottom: 0.5em;
    color: #FA8400;
    font-family: 'Press Start 2P', cursive;
}

.jogo p {
    max-width: 1240px;
    margin: 0 auto 1.5em;
    color: #DFDFE4;
    font-family:'Montserrat', sans-serif;
    line-height: 32px;
    text-align: left;
}

.containeir{
    text-align: left;
    max-width: 1240px;
    margin: 20px auto 1.5em;

}

.comprar {
    display: inline-flex;
    align-items: center; 
    color: #DFDFE4;
    gap: 10px; 
}

.comprar h2{
    padding-right: 40px;
    font-size: 20px; 
    font-weight: normal;
}

.comprar button{
    background-color: #FA8400;
    padding: 10px 20px; 
    font-size: 20px;
    cursor: pointer;
}